.main-container {
  display: grid;
  grid-template-columns: [sidebar] 40% [main] 60%;
  &.mobile{
    display: block;
  }
  .map-container {
    margin-top: 10px;
    grid-area: main;
  }
  .list-container {
    grid-area: sidebar;
  }
}

.top-nav{
  background: darkslateblue;
  height: 100px;
  .top-section {
    display: flex;
    padding: 10px;
  }
}
